name: plutt CI
on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]
jobs:
  ubuntu-latest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install packages
      run: |
        sudo apt-get update -yq > /dev/null
        sudo apt-get install -y --no-install-recommends \
          bison build-essential flex pkg-config \
          libfreetype-dev \
          libnlopt-dev \
          libsdl2-dev
    - name: make -k debug
      run: make -k
    - name: make -k release
      run: make -k BUILD_MODE=release
    - name: make -k debug no-nlopt
      run: make -k clean all ALLOW_NLOPT=
    - name: make -k release no-nlopt
      run: make -k clean all ALLOW_NLOPT= BUILD_MODE=release
    - name: make -k debug no-sdl2
      run: make -k clean all ALLOW_SDL2=
    - name: make -k release no-sdl2
      run: make -k clean all ALLOW_SDL2= BUILD_MODE=release
  macos-latest:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: make -k debug
      run: make -k
    - name: make -k release
      run: make -k BUILD_MODE=release
    - name: make -k debug no-nlopt
      run: make -k clean all ALLOW_NLOPT=
    - name: make -k release no-nlopt
      run: make -k clean all ALLOW_NLOPT= BUILD_MODE=release
    - name: make -k debug no-sdl2
      run: make -k clean all ALLOW_SDL2=
    - name: make -k release no-sdl2
      run: make -k clean all ALLOW_SDL2= BUILD_MODE=release
